header {
  display: flex;
  width: calc(100% - 120px);
  height: 100px;
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
}

#nav-left {
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

#nav-left div {
  height: 100%;
  display: flex;
  align-items: center;
}

#nav-left img {
  height: 100%;
}

#nav-left p {
  color: rgba(0, 103, 71, 1);
  font-family: "Hind Madurai";
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  padding-left: 10px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.24);
}

#nav-right {
  display: flex;
  height: 52px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

#nav-right div {
  height: 100%;
}

#heart {
  width: 123px;
  height: 100%;
  background-color: rgba(65, 255, 107, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#heart div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heart img {
  height: 30px;
  width: 30px;
}

#heart p {
  font-size: 16px;
  font-family: "Inter";
  color: black;
  font-weight: 900;
}



#coin {
  width: 106px;
  height: 100%;
  background-color: rgba(65, 255, 107, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#coin div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coin img {
  height: 24px;
  width: 24px;
}

#coin p {
  font-size: 16px;
  font-family: "Inter";
  color: black;
  font-weight: 900;
}







#copy {
  width: 127px;
  height: 100%;
  background-color: rgba(0, 166, 62, 1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#copy p {
  font-size: 16px;
  font-family: "Hind Madurai";
  color: rgb(255, 255, 255);
  font-weight: 400;
}