body {
  margin: 0;
  background-color: rgba(245, 255, 246, 255);
}

/* header section */


header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
}

#nav-left {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

#nav-left div {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
}

#nav-left img {
  height: 100%;
  width: 100%;
}

#nav-left p {
  color: rgba(0, 103, 71, 1);
  font-family: "Hind Madurai";
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding-left: 10px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.24);
}

#nav-right {
  display: flex;
  height: 52px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

#nav-right div {
  height: 100%;
}

#heart {
  width: 123px;
  height: 100%;
  background-color: rgba(65, 255, 107, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#heart div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heart img {
  height: 30px;
  width: 30px;
}

#heart p {
  font-size: 16px;
  font-family: "Inter";
  color: black;
  font-weight: 900;
}

#coin {
  width: 106px;
  height: 100%;
  background-color: rgba(65, 255, 107, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#coin div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coin img {
  height: 24px;
  width: 24px;
}

#coin p {
  font-size: 16px;
  font-family: "Inter";
  color: black;
  font-weight: 900;
}

#copy {
  width: 127px;
  height: 100%;
  background-color: rgba(0, 166, 62, 1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#copy p {
  font-size: 16px;
  font-family: "Hind Madurai";
  color: rgb(255, 255, 255);
  font-weight: 400;
}


/*banner section */

#banner {
  height: 240px;
  width: 100%;
  background: linear-gradient(90deg, rgba(1, 50, 35, 1), rgba(0, 103, 71, 1), rgba(1, 50, 35, 1));
  padding: 12px 60px;
}

#banner div {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  margin: 11px;
}

#banner img {
  width: 92px;
  height: 100%;
}

#banner h4 {
  font-family: "Hind Madurai";
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;

}

#banner p {
  font-family: "Hind Madurai";
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}


/* services section */

#services {
  margin: 50px 60px;
  width: calc(100%-120px);
  display: flex;
  gap: 30px;
}

#service-contain {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.service-list {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 32px;
  width: 100%;
}


.service-icons {
  height: 60px;
  width: 375px;
  margin: 32px auto 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-icon {
  height: 100%;
  width: 60px;
  background-color: rgba(255, 227, 226, 1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-icon img {
  width: 32px;
  height: 32px;
}

.heart-icon {
  height: 100%;
  width: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-icon img {
  width: 32px;
  height: 32px;
  color: rgba(92, 92, 92, 1) !important;
}

#history {
  width: 400px;
  height: 1140px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

#history-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-details {
  width: 375px;
  margin: 0px auto;
}

.service-details h4 {
  font-family: "Hind Madurai";
  font-size: 24px;
  font-weight: bold;
  color: black
}

.first-p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: rgba(92, 92, 92, 1);
}


.second-p {
  color: rgba(17, 17, 17, 1);
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}

.category {

  height: 37px;
  width: auto;
  background-color: ;

  margin-bottom: 24px;
}

.category p {
  color: rgba(92, 92, 92, 1);
  font-family: "Hind Madurai";
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  background-color: rgba(242, 242, 242, 1);
  padding: 5px 15px;
  border-radius: 20px;
}

.service-buttons {
  width: 375px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.service-buttons button {
  width: 182px !important;
  height: 40px !important;
  border-radius: 8px !important;

}

.copy-btn {
  color: rgba(92, 92, 92, 1) !important;
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: 16px;
}

.call-btn {
  font-family: "Roboto" !important;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.4s !important;
}

.call-btn:hover {
  background-color: rgb(51, 89, 70) !important;
}